.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
*.class
*.war
*.ear
target/
test-output/
.metadata
.settings
*.log
*.sql
*.sqlite
UnitTestingDemo/node_modules/
UnitTestingDemo/coverage/
*~
.project
test/instrument
test/coverage
*.orig
